{% set classes = [
  'c-site-logo',
  modifier_classes ? modifier_classes : '',
]|join(' ')|trim %}

<a class="{{ classes }}" href="{{ url }}" title="{{ 'Home' }}" rel="home">
  <img class="c-site-logo__image" src="{{ site_logo }}" alt="{{ 'Home' }}" />
</a>
