<form class="searchform" method="get" action="{{ action }}" role="search">
  <label for="s" class="element-hidden">{{ label }}</label>
  <input class="searchform__input" type="search" name="s" placeholder="{{ placeholder }}" value="{{ search_keyword }}">
  <button class="searchform__button button" type="submit" role="button">{{ button_label }}</button>
</form>
