<article class="{{ post.class }}" id="post-{{ post.ID }}">
  <h2 class="post-title">{{ post.title }}</h2>
  <div class="author">{{ __('Authored by', 'gesso') }}
    <a href="{{ post.author.link }}">{{ post.author.display_name }}</a>
  </div>
  {{ post.content }}
</article>
{{ comment_form }}