{% set classes = [
  'c-fieldset',
  required or is_required ? 'is-required' : '',
  is_disabled ? 'is-disabled' : '',
  modifier_classes ? modifier_classes : '',
]|join(' ')|trim %}

{% set legend_span_classes = [
  'c-fieldset__legend-text',
  required or is_required ? 'is-required' : '',
  required or is_required ? 'js-form-required' : '',
]|join(' ')|trim %}

<fieldset class="{{ classes }}"{% if description.content %} aria-describedby="{{ id }}{% endif %}{% if disabled or is_disabled %}disabled="{{ disabled }}"{% endif %}{% if required or is_required %} required="{{ required }} aria-required="true"{% endif %}>
  {#  Always wrap fieldset legends in a <span> for CSS positioning. #}
  <legend class="c-fieldset__legend">
    <span class="{{ legend_span_classes }}">{{ legend.title }}</span>
  </legend>
  <div class="c-fieldset__content">
    {% if errors %}
      <div class="c-fieldset__errors">{{ errors }}</div>
    {% endif %}

    {% if prefix %}
      <span class="c-fieldset__prefix">{{ prefix }}</span>
    {% endif %}

    {{ children }}

    {% if suffix %}
      <span class="c-fieldset__suffix">{{ suffix }}</span>
    {% endif %}

    {% if description.content %}
      <div class="c-fieldset__description">{{ description.content }}</div>
    {% endif %}
  </div>
</fieldset>
