{% extends "base.twig" %}

{% block content %}

    <!-- Provided by views/author.twig -->
    <section class="section section--author">
        {% if posts %}

            <div class="author__title">
                <h1>{{ title }}</h1>
            </div>

            <div class="author__meta">
                {% if author.avatar %}
                    <div class="author__image"><img src="{{ author.avatar.abs_url }}" alt="author avater"></div>
                {% endif %}

                {% if author.description %}
                    <div class="author__description">{{ author.description }}</div>
                {% endif %}
            </div>

            <div class="author__article-loop">
                {% for post in posts %}
                    <article class="author__article">
                        <h2 class="article__title">
                            <a href="{{ post.link }}">{{ post.post_title }}</a>
                        </h2>
                        <div class="article__date">{{ post.date }}</div>
                    </article>
                {% endfor %}
            </div>

            {% include 'templates/pager.twig' %}

        {% else %}
            <p>{{__('Sorry Nothing to Display ','gesso') }}</p>
        {% endif %}

    </section>

{% endblock %}
