{% extends "base.twig" %}

{% block content %}
  <pre>{{dump()}}</pre>
  <pre>Author.twig</pre>

  {% if posts %}

      <h1 class="page-title"> {{ __('Author Archives for', 'gesso') }} {{ author }}</h1>

      {% if author.description %}
        <div class="">
          <div><img src="{{ author.avatar }}" alt=""> </div>
          <div>{{ author.description }}</div>
        </div>
      {% endif %}

      {% for post in posts %}
        <div class="">
          <h2>{{ post.post_title }}</h2>
          <span class="date">{{ post.post_date_gmt }}</span>
          <span class="author">{{ post.post_author }}</span>
          <div class="comments"></div>
        </div>
      {% endfor %}
  {% else %}
      <p>Sorry Nothing to Display</p>
  {% endif %}



{% endblock %}
