{% block html_head_container %}
	{% include 'html-header.twig' %}
{% endblock %}

{% block page_header %}
	{# This is where you would stick another header, if different than #}
	{{ function('get_header') }}
{% endblock %}

	<body {{ function('body_class')}}> 
			
		<div class="skiplinks">
	    <a href="#main" class="skiplinks__link element-focusable">Skip to main content</a>
	  </div>
				
		<header class="header" role="banner">
			{% block header %}
				<div class="header-inner layout-constrain">
					{{ function('gesso_nav', 'secondary') }}			 
					<a href="{{ site.url }}" class="sitename"><h1>{{ site.title }}</h1></a>
					{{ function('gesso_nav', 'primary') }}
					{{ function('get_template_part', 'templates/searchform') }}
				</div>
			{% endblock %}
		</header>

		<main id="main" class="main" role="main" tabindex="-1">
			<div class="layout-main layout-constrain {{ function('sidebar_test') }}">
				
				<div class="layout-main__content">	
					{% block content %}
					{% endblock %}
				</div>

				<div class="layout-main__sidebar">
					{% block sidebar %}
						{{ function('get_sidebar') }}
					{% endblock %}
				</div>
				
			</div>
		</main>

		{% block footer %}
			{% include 'footer.twig' %}
			{{ function('wp_footer') }}
		{% endblock %}
	
	</body>
</html>
