{% extends "base.twig" %}

{% block content %}
    <!-- Provided by views/category.twig -->
    <section class="section section--category-archive">
        <h2 class="section__title">{{__('Category Archive: ', 'gesso') }}{{ archive_title }}</h2>
        <h4 class="section__description">{{ archive_description }}</h4>

        <div class="section__loop">
            {% for post in posts %}
              <h3 class="section__result">
                  <a class="section__result-link " href="{{ post.link }}">{{ post.title }}</a>
              </h3>
              <p class="section__result-exceprt">{{ post.exceprt }}</p>
            {% endfor %}
        </div>

        {% include 'templates/pager.twig' %}
    </section>
{% endblock %}
