{% extends "base.twig" %}

{% block content %}
<pre>
{{ dump(post.author) }}
</pre>

		<h1>Using Single.Twig</h1>
		<div class="content-wrapper">
			<article class="{{ post.class }}" id="post-{{post.ID}}">
					<h2 class="article-title">{{post.title}}</h2>
          <div class="article-author">Authored by: <a href="{{post.author.link}}">{{post.author.display_name}}</a></div>
					<div class="article-body">
						{{post.content}}
					</div>
			</article>
			{{comment_form}}
		</div><!-- /content-wrapper -->
{% endblock %}
