{% extends "base.twig" %}

{% block content %}
    <!-- Provided by views/single.twig -->
    <div class="content-wrapper">
        <article class="{{ post.class }}" id="post-{{post.ID}}">
            <h2 class="article-title">{{post.title}}</h2>
            <div class="article-author">{{__('Authored by', 'gesso') }}
                <a href="{{post.author.link}}">{{post.author.display_name}}</a>
            </div>
            <div class="article-body">
                {{post.content}}
            </div>
        </article>
        {{comment_form}}
    </div>
    <!-- /content-wrapper -->
{% endblock %}
