{% extends "base.twig" %}

{% block content %}
		<h1>Using Single.Twig</h1>
		<div class="content-wrapper">
			<article class="{{ post.class }}" id="post-{{post.ID}}">
				<section class="article-content">
					<h2 class="article-title">{{post.title}}</h2>
					<div class="article-body">
						{{post.content}}
					</div>
				</section>
			</article>
			{{comment_form}}
		</div><!-- /content-wrapper -->

{% endblock %}

