{% set classes = [
  'c-block',
  modifier_classes ? modifier_classes : '',
]|join(' ')|trim %}

{% set title_classes = [
  'c-block__title',
]|join(' ')|trim %}

{% set content_classes = [
  'c-block__content',
]|join(' ')|trim %}

{% set constrain_classes = [
  'l-constrain',
  constrain_modifier_classes ? constrain_modifier_classes,
]|join(' ')|trim %}

{% if not hide_wrapper %}
  <div class="{{ classes }}">
{% endif %}

  {% if has_constrain %}
    <div class="{{ constrain_classes }}">
  {% endif %}

  {{ title_prefix }}
  {% if label %}
    <{{ label_element ?: 'h2' }} class="{{ title_classes }}">{{ label }}</{{ label_element ?: 'h2' }}>
  {% endif %}
  {{ title_suffix }}

  {% if not hide_content_wrapper %}
    <div class="{{ content_classes }}">
  {% endif %}

  {% block content %}
    {{ block_content }}
  {% endblock %}

  {% if not hide_content_wrapper %}
    </div>
  {% endif %}

  {% if has_constrain %}
    </div>
  {% endif %}

{% if not hide_wrapper %}
  </div>
{% endif %}
