{% for post in posts %}
  <section class="">


    <article class="post-{{ post.id }} {{ post.class }}">
      <header>
        <!-- Thumbnail -->
        <div class="thumbnail">
          <img src="{{post.thumbnail.src | resize(120, 120, 'bottom')}}" class="my-thumb-class" alt="Image for {{post.title}}" />
        </div>

        <!-- Display -->
        <h2><a href="{{ post.link }}">{{ post.title }}</a></h2>
        <div class="meta">
          <div class="date">
            <span>{{ function( 'the_time', 'F j, Y')}} </span>
            <span>{{ function( 'the_time', 'g:i a')}} </span>
          </div>
          <div class="author">{{ __('Published by', 'gesso') }} {{ function('the_author_posts_link') }}</div>
          <div class="comments">
            {{ function( 'comments_popup_link', 'Leave a Comment', '1 Comment', '% Comments', post.id )}}
          </div>
        </div>
      </header>
      {{ function('gesso_link_pages') }}
      <p>{{ function('edit_post_link', 'Edit', '<span class="edit-link">', '</span>', post.id) }}</p>
      <p>{{ function('comments_template', '', true) }}</p>
    </article>

  </section>

{% else %}

  <h2>Sorry, nothing to display.</h2>

{% endfor %}
