{% extends "base.twig" %}

{% block content %}
  <!-- Provided by templates/page.twig -->
  <p>{{ __('View author: ', 'gesso') }} <a href="{{ user.link }}">{{ user.name }}</a></p>

	<article class="post post--type-{{ post.type}} post--display-mode-full" id="post-{{ post.ID }}">
		<h1 class="page-title">{{ post.title }}</h1>
		<div class="post__content">
      {{ post.content }}
    </div>
    <div class="post__comments">
      {{ function('comments_template') }}
    </div>
	</article>
{% endblock %}
