<div class="pagination">
    {% if pagination.prev %}
        <div class="pane pane--first">
            <a href="{{pagination.prev.link}}" class="prev {{pagination.prev.link|length ? '' : 'invisible'}}">Prev</a>
        </div>
    {% endif %}

    <div class="pane pane--second">
        <ul class="pages">
            {% for page in pagination.pages %}
                <li>
                    {% if page.link %}
                        <a href="{{page.link}}" class="{{page.class}}">{{page.title}}</a>
                    {% else %}
                        <span class="{{page.class}}">{{page.title}}</span>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>

    {% if pagination.next %}
        <div class="pane pane--third">
            <a href="{{pagination.next.link}}" class="next {{pagination.next.link|length ? '' : 'invisible'}}">Next</a>
        </div>
    {% endif %}
</div>
