{#
  /**
  * @file
  * Component for a Pager.
  *
  * Variables:
  * - modifier_classes: [string] Classes to modify the default component styling.
  * - heading: [string] Accessible heading.
  * - items: [array] The pager items. Each item is an object containing:
  *   - url: [string] URL of the item (optional).
  */
#}
{% if pattern_lab %}
  {% set escape_method = 'url' %}
{% else %}
  {% set escape_method = 'esc_url' %}
{% endif %}

<nav class="pager {{ modifier_classes }}" role="navigation" aria-labelledby="pagination-heading">
  <h4 id="pagination-heading" class="visually-hidden">{{ heading|default('Pagination') }}</h4>
  <ul class="pager__items js-pager__items">
  {% spaceless %}
    {% if pagination.prev %}
      <li class="pager__item pager__item--previous">
        <a class="pager__link pager__link--previous" href="{{ pagination.prev.link|e(escape_method) }}" title="{{ 'Go to previous page' }}" rel="prev">
          <span class="visually-hidden">{{ 'Previous page' }}</span>
          <span aria-hidden="true">Previous</span>
        </a>
      </li>
    {% endif %}

    {% for page in pagination.pages %}
      {% if page.link %}
        <li class="pager__item">
          <a href="{{ page.link|e(escape_method) }}" class="pager__link {{ page.class }}">{{ page.title }}</a>
        </li>
      {% else %}
        <li class="pager__item pager__item--current">
          <span class="{{ page.class }}">{{ page.title }}</span>
        </li>
      {% endif %}
    {% endfor %}

    {% if pagination.next %}
      <li class="pager__item pager__item--next">
        <a class="pager__link pager__link--next" href="{{ pagination.next.link|e(escape_method) }}" title="{{ 'Go to next page' }}" rel="next">
          <span class="visually-hidden">{{ 'Next page' }}</span>
          <span aria-hidden="true">Next</span>
        </a>
      </li>
    {% endif %}
  {% endspaceless %}
  </ul>
</nav>
