{% set classes = [
  'c-form-item__select',
  'c-form-item--select',
  modifier_classes ? modifier_classes : '',
  is_required or required ? 'is-required' : '',
]|join(' ')|trim %}

{% if id is not empty %}
  {% set attributes_to_add = attributes_to_add ~ 'id="{{ id }}" ' %}
{% endif %}

{% if disabled or is_disabled %}
  {% set attributes_to_add = attributes_to_add ~ 'disabled="{{ disabled }}" ' %}
{% endif %}

{% if required or is_required %}
  {% set attributes_to_add = attributes_to_add ~ 'required="{{ required }}" aria-required="true" ' %}
{% endif %}

{% if described_by is not empty %}
  {% set attributes_to_add = attributes_to_add ~ 'aria-describedby="{{ described_by }}" ' %}
{% endif %}

{% apply spaceless %}
  <select class="{{ classes }}"{% if attributes_to_add is not empty %} {{ attributes_to_add }}{% endif %}>
    {% for option in options %}
      {% if option.type == 'optgroup' %}
        <optgroup label="{{ option.label }}">
          {% for sub_option in option.options %}
            <option value="{{ sub_option.value }}"{{ sub_option.selected ? ' selected="selected"' }}{{ sub_option.disabled ? ' disabled="disabled"' }}>{{ sub_option.label }}</option>
          {% endfor %}
        </optgroup>
      {% elseif option.type == 'option' %}
        <option value="{{ option.value }}"{{ option.selected ? ' selected="selected"' }}{{ option.disabled ? ' disabled="disabled"' }}>{{ option.label }}</option>
      {% endif %}
    {% endfor %}
  </select>
{% endapply %}
