{% for post in posts %}

    <article class="{{ post.class }} post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
      <header>
        {% if post.thumbnail %}
          <div class="thumbnail">
            <img src="{{ post.thumbnail.src | resize(120, 120, 'bottom') }}" alt="Image for {{ post.title }}" />
          </div>
        {% endif %}
        <h2 class="post-title"><a href="{{ post.link }}">{{ post.title }}</a></h2>
        <div class="meta">
          <div class="date">{{ post.date }}</div>
          <div class="author">{{ __('Published by', 'gesso') }} <a href="{{ post.author.link }}">{{ post.author }} </a></div>
          <div class="comments">
            {% if post.comments %}
              <span>Comments: {{ post.comments|length }}</span>
            {% endif %}
            <a href="{{ post.link }}#respond">Leave a comment</a>
          </div>
        </div>
      </header>
      {{ function('gesso_link_pages') }}
      <p>{{ function('edit_post_link', 'Edit', '<span class="edit-link">', '</span>', post.id) }}</p>
      <p>{{ function('comments_template', '', true) }}</p>
    </article>

{% else %}

  <h2>Sorry, nothing to display.</h2>

{% endfor %}
