{% set classes = [
  'c-breadcrumb',
  modifier_classes ? modifier_classes : '',
]|join(' ')|trim %}

{% set title_classes = [
  'c-breadcrumb__title',
  title_modifier_classes ? title_modifier_classes : '',
  hide_title ? 'u-visually-hidden' : '',
]|join(' ')|trim %}

{% set breadcrumb_id = 'breadcrumb-label' %}

<nav class="{{ classes }}" aria-labelledby="{{ breadcrumb_id }}" role="navigation">
  <div class="l-constrain">
    <{{ title_element ?: 'h2' }}
      class="{{ title_classes }}"
      id="{{ breadcrumb_id }}"
    >{{ title|default('Breadcrumb') }}</{{ title_element ?: 'h2' }}>
    <ol class="c-breadcrumb__list">
      {% for item in breadcrumb %}
        <li class="c-breadcrumb__item">
          {% if item.url %}
            <a class="c-breadcrumb__link" href="{{ item.url }}">{{ item.text }}</a>
          {% else %}
            <span aria-current="page">
              {{ item.text }}
            </span>
          {% endif %}
        </li>
      {% endfor %}
    </ol>
  </div>
</nav>
