    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js?v=1.12.4"></script>
    <script src="../../../js/libraries/details-element-polyfill.js?{{ cacheBuster }}"></script>
    <script src="../../../js/dist/common.min.js?{{ cacheBuster }}"></script>
    <script src="../../../js/dist/primary-menu.min.js?{{ cacheBuster }}"></script>
    <script src="../../../js/dist/mobile-menu.min.js?{{ cacheBuster }}"></script>
    <script src="../../../js/dist/scripts.min.js?{{ cacheBuster }}"></script>

    <!--DO NOT REMOVE-->
    {{ patternLabFoot | raw }}
  </body>
</html>
